
.mobile-menu-overlay {
  /* cursor:pointer; */
  position: fixed;
  top: 0; 
  left: 0;
  width: 250px;
  height: 450px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease-in-out;
}

.mobile-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.mobile-nav li {
  margin: 1rem 0;
}

.mobile-nav a {
  color: white;
  /* font-size: 1rem; */
  /* text-decoration: none;
  transition: color 0.2s; */
}

/* .mobile-nav a:hover {
  color: #f39c12;
} */

/* .close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  animation: fadeIn 0.3s ease-in-out;
} */

.close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.mobile-menu-overlay.open .close-btn {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 768px){
  .logosize img{
    margin-left: -20px;
    max-height:45px;
    height:auto;
    width:auto;
  }
}

/* .nav-link:hover{
  color: red !important;
  text-decoration: underline !important;
} */
.nav-link {
  position: relative;
  color: black; /* or your default color */
  text-decoration: none;
  display: inline-block;
  padding-bottom: 4px; /* for spacing below text */
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: red;
  transition: width 0.4s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

/* .close-btn{
  color:white;
} */


/* 
.navbar {
  background-color: #111;
  padding: 20px 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width:350px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.nav-links li {
  cursor: pointer;
}

.nav-links .active {
  color: #f2b632;
}

.purchase-btn {
  color: #f2b632;
  font-weight: bold;
}

.rental-btn {
  background: #f2b632;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
} */